.card {
  position: relative;
  .card-main__link {
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &-like,
  &-share {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $white;
    border: 1px solid $primary;
    cursor: pointer;
    transition: all 0.3s ease;
    @include flexbox(center, center);

    i {
      width: 18px;
      height: 18px;
      svg {
        width: 18px;
        height: 18px;
      }
    }

    &:hover {
      background-color: $soft-pink;
    }
  }
  &-like {
    i {
      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }
  .liked {
    background-color: $primary;
    i {
      svg {
        path {
          stroke: $white;
          fill: $white;

          &:nth-child(2) {
            stroke: $primary;
          }
        }
      }
    }
  }
}
